extends layouts/layout.pug

block content
  .home-page
    h1 Welcome to Cultural Connections
    p Share your culture, learn from others
    .cta-buttons
      a(href="/users") View Community
      a(href="/posts") Browse Posts
      a(href="/categories") Explore Categories
