extends layouts/layout.pug

block content
  .home-page
    h1 Welcome to Cultural Connections
    p Share your culture and learn from others

    // Navigation buttons
    a(href="/users") View Community
    br
    a(href="/posts") Browse Posts
    br
    a(href="/categories") Explore Categories
