extends layouts/layout.pug

block content
  h1 Community Members

  .user-cards
    each user in users
      .user-card
        h2= user.name
        p Country: #{user.country}
        p Language: #{user.language}
        a(href="/users/" + user.id) View Profile
